{% extends 'base.html' %}
{% load static %}

{% block title %}Suplementação{% endblock %}

{% block conteudo %}
<section class='section-quote'>
    <div class='container'>
        {% for suplemento in object_list %}
        <div class="row p-3">
            <div class="col-md-9">
                <img src="{{ suplemento.imagem }}" class="img-fluid" alt="Imagem responsiva">
                <h4 class="mt-0">{{ suplemento.titulo }}</h4>
                <div class="media-body">
                    {{ suplemento.descricao }}
                </div>
            </div>
            {% if suplemento.link_imagem %}
                <div class="col-md-3 text-center">
                    <div class="card" style="width: 18rem;">
                        <a href="https://www.gsuplementos.com.br/">
                            <img class="card-img-top"  src="{{ suplemento.link_imagem }}" alt="Imagem de capa do card"></a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    
    </section>
{% endblock %}



